body {
    background-image: url("assets/bg.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    font-family: main_font;
    letter-spacing: 5px;
}

@font-face {
    font-family: main_font;
    src: url(fonts/Gothic\ War.otf);
}

#sel {
    font-size: 10vw;
    color: white;
    padding: 5vw 0 5vw 0;
}

#container {
    text-align: center;
    margin: 0;
    height: 100vh;
}

#centered-div {
    width: 90%
    max-width: 350px;
    color: white;
    margin: 5% 10% 5% 10%;;

}

button {
    font-family: main_font;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 7vw;
margin: 2% 0 2% 0;
    background-image: url("assets/cobble.gif");
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 10px;
}
