body {
    background-color: black;
    font-family: main_font;
    letter-spacing: 5px;
    margin: 0;
    padding: none;
}

@font-face {
    font-family: main_font;
    src: url(fonts/Gothic\ War.otf);
}

#sel {
    font-size: 64px;
    color: white;
    margin: 0 0 0% 0;
}

#container {
    background-image: url("assets/bg.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
}

#centered-div {
    width: 80%;
    max-width: 500px;
    color: white;
    font-size: 48px;
    padding: 0 10% 0 10%;;

}

#message {
    font-size: 24px;
    background-image: url("assets/blood.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-family: main_font;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 32px;
    background-image: url("assets/cobble.gif");
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 10px;
}