@font-face {
    font-family: main_font;
    src: url(fonts/RevolverBlackletter-Regular.otf);
    font-size: 10vw;
}

@font-face {
    font-family: text_font;
    src: url(fonts/Old\ Celtiberians.otf);
    letter-spacing: 2px;
}

body {
    background-image: url("assets/bg.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: repeat-y;
    background-blend-mode: darken;
    background-size: fill;
    letter-spacing: 5px;
    font-family: main_font;
}

#sel {
    font-size: 12vw;
    color: white;
    padding: 5vw 0 5vw 0;
}

#message {
    font-size: xx-large;
    letter-spacing: normal;
    color: red;
    text-align: left;
    font-family: text_font;
    padding: 5vw 0 5vw 0;
}

#container {
    text-align: center;
    height: 100vh;
}

#centered-div {
    max-width: 600px;
    color: white;
    margin: auto;
    padding: 0 10% 0 10%;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 7vw;
    margin: 2% 2% 2% 2%;
    background-size: fill;
    font-family: text_font;
    border-color: red;
    background-color: rgba(255, 175, 175, 0.2);
    border: 1px;

}

img {
    width: 80%;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 10px;
}